<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	
	<bean id="persona" class="com.ejemplos.beans.Persona" autowire="byType">
	<!-- al modificar byName a byType lo que hace el sistema es relacionar las clases los parametros
	 de clase definidos en Persona.java con las clases definidas en el bean ej: class="com.ejemplos.beans.Pais" 
	 
	 Ojo, si tengo una clase del mismo tipo voy a tener problemas -->
	
	
	<!-- Al escribir autowire nos olvidamos de las dependencias que son necesarias para este objeto -->
	<!--  <property name="pais" ref="pais"></property> <-Dependencia borrada -->
	
	<!--  <property name="ciudad" ref="ciudad"></property> <- Dependencia borrada -->
	<!-- Por Nombre se busca la definicion de pais y de ciudad -->
	<property name="id" value ="1"></property>
	<property name="nombre" value ="Jaime"></property>
	<property name="apodo" value ="MitoCode"></property>
	</bean>
	
	<!-- Nota importante con NOMBRE DE VARIABLE: si el nombre del id no es el mismo que el nombre de instanciacion designado a 
	la clase, se generará una Exception, probar cambiando id=pais1-->
	<bean id="pais" class="com.ejemplos.beans.Pais">
	<property name="nombre" value="Perú"></property>
	</bean>
	
	<bean id="ciudad" class="com.ejemplos.beans.Ciudad">
		<property name="nombre" value="Lima"></property>
	</bean>
	

</beans>
