<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- bean que hace accion en el backgroud al igual que  BeanPostProcessor, la clase 
permite reconocer la anotacion Autowired-->
<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>

	<bean id="messi" class="com.ejemplos.beans.Jugador">
		<property name="numero" value="10"></property>
		
		<property name="nombre" value="Lionel Messi"></property>
		<!-- si borro esta referencia, arrojará error porque es un atributo requerido,
		esto se puede extender para cualquier parámetro -->
		<!-- <property name="equipo" ref="barcelona"></property> -->
		
	</bean>
	<!-- SI HAY MÁS DE UN BEAN, CON AUTOWIRED EL SISTEMA SE CAE PORQUE NO SABE QUE BEAN ELEJIR, PROBAR DESCOMENTANDO -->
	<!--  <bean id="barcelona" class="com.ejemplos.beans.Barcelona"></bean>-->
	<bean id="juventus" class="com.ejemplos.beans.Juventus"></bean>
</beans>
